.version.index /* version checker */
{
	color: #0000F2;
	background-color: #E51006;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1189px;
	min-height: 3938px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #00182C;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u102
{
	z-index: 2;
	min-height: 7835px;
	background-color: #00182C;
}

#u102_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1189px;
	position: relative;
	left: -100px;
	padding-top: 417px;
}

#u103
{
	z-index: 3;
	width: 1189px;
	background-color: #7C0011;
	left: 100px;
	position: relative;
}

#u192
{
	z-index: 8;
	width: 171px;
	background-color: #040001;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 72px;
}

#u105-4
{
	z-index: 4;
	-webkit-transform: matrix(0,-1,1,0,-170,258);
	-ms-transform: matrix(0,-1,1,0,-170,258);
	transform: matrix(0,-1,1,0,-170,258);
	margin-bottom: -78px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -72px;
	left: 547px;
}

#u251
{
	z-index: 23;
	width: 1189px;
	background-color: #58B000;
	padding-bottom: 26px;
	left: 107px;
	margin-top: 61px;
	position: relative;
}

#u252-4
{
	z-index: 24;
	position: relative;
	width: 452px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 377px;
}

#u217
{
	z-index: 15;
	width: 452px;
	background-color: #001E94;
	left: 100px;
	margin-top: 62px;
	position: relative;
	padding: 72px 247px 35px 490px;
}

#u223-3
{
	z-index: 20;
	width: 5px;
	background-color: transparent;
	margin-left: 383px;
	position: relative;
}

#u218-4
{
	z-index: 16;
	margin-top: 10px;
	position: relative;
}

#u253-3
{
	z-index: 28;
	width: 5px;
	background-color: transparent;
	left: 1167px;
	margin-top: 13px;
	position: relative;
}

#u200
{
	z-index: 10;
	width: 1189px;
	background-color: #419C00;
	padding-bottom: 96px;
	left: 100px;
	margin-top: 31px;
	position: relative;
}

#u201-4
{
	z-index: 11;
	position: relative;
	width: 452px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 449px;
}

#u105-4_img,#u252-4_img,#u218-4_img,#u201-4_img
{
	display: block;
	vertical-align: top;
}

#u258-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	left: 411px;
	margin-top: 1076px;
	position: relative;
}

#u259-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	left: 396px;
	margin-top: 1481px;
	position: relative;
}

#u260-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	left: 269px;
	margin-top: 1029px;
	position: relative;
}

#u261
{
	z-index: 43;
	width: 440px;
	background-color: transparent;
	left: 411px;
	margin-top: 1560px;
	position: relative;
}

#u102-bw
{
	z-index: 2;
	min-height: 7835px;
	margin-top: -89px;
}

#u268
{
	z-index: 45;
	min-height: 445px;
	background-color: #FFFFFF;
	padding-bottom: 32px;
}

#u268_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1189px;
	position: relative;
	left: -100px;
}

#u270
{
	z-index: 46;
	width: 440px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 467px;
}

#u268-bw
{
	z-index: 45;
	min-height: 445px;
	margin-top: 7269px;
}

#u281-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7175px;
	left: 317px;
}

#u86-3
{
	z-index: 52;
	min-height: 341px;
	background-color: #004AE8;
	color: #010040;
}

#u86-3-bw
{
	z-index: 52;
	min-height: 341px;
	margin-top: -89px;
}

#u90-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 296px;
}

body
{
	position: relative;
	min-width: 1189px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

